<footer class="main-footer">
  <ul class="social-media social-media--light">
    <li class="item">
      <a href="https://www.facebook.com/DecisionScienceAgency" target="_blank" title="Facebook" class="item__link">
        <svg class="item__icon" aria-hidden="true" width="8" height="17" title="Facebook">
          <use xlink:href="#icon_facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
    </li>
    <li class="item">
      <a href="https://www.linkedin.com/company/decision-science" title="Linkedin" class="item__link" target="_blank">
        <svg class="item__icon" aria-hidden="true" width="12" height="12" title="Linkedin">
          <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
    </li>
    <li class="item">
      <a href="mailto:ask@decision-science.com" title="Gmail" class="item__link" target="_blank">
        <svg class="item__icon" aria-hidden="true" width="12" height="8" title="Gmail">
          <use xlink:href="#icon_gmail" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>

<button class="scroll-down">
  <span class="scroll-down__inner">
    <svg class="arrow arrow--1" aria-hidden="true" width="12" height="10">
      <use xlink:href="#icon_arrow_down__float" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
    </svg>
  </span>
</button>
<!-- Modal -->
<% include ../partials/home/modal %>
<% include ./footer_js %>
<% include ./svg %>