<!-- header -->
<header class="main-header">
  <div class="main-header__content">

    <span title="DS" class="logo">
      <a href="#home">
      <svg aria-hidden="true" height="42" title="" width="133">
        <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
      </a>
    </span>
    <div class="hamburger">
      <div class="hamburger-box">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>
    </div>

  </div>

</header>
<!-- end header -->