<nav class="navigate navigate--light">
  <div data-nav-line="" class="line"></div>

  <div class="listlinks">
    <div data-nav-item="" data-anchor="about-us" class="item" title="ABOUT US">
      <span class="item__line d-block d-lg-none"></span>
      ABOUT US
    </div>
    <div data-nav-item="" data-anchor="philosophy" class="item" title="WHAT WE DO">
      <span class="item__line d-block d-lg-none"></span>
      WHAT WE DO
    </div>
    <div data-nav-item="" data-anchor="clients" class="item" title="CLIENTS & PARTNERS">
      <span class="item__line d-block d-lg-none"></span>
      CLIENTS & PARTNERS
    </div>
    <div data-nav-item="" data-anchor="projects" class="item" title="PROJECTS">
      <span class="item__line d-block d-lg-none"></span>
      PROJECTS
    </div>
    <div data-nav-item="" data-anchor="leadership" class="item" title="LEADERSHIP">
      <span class="item__line d-block d-lg-none"></span>
      LEADERSHIP
    </div>
    <!-- <div data-nav-item="" data-anchor="beliefs" class="item" title="BELIEFS">
      <span class="item__line d-block d-lg-none"></span>
      BELIEFS
    </div> -->
    <div data-nav-item="" data-anchor="join-us" class="item" title="JOIN US">
      <span class="item__line d-block d-lg-none"></span>
      JOIN US
    </div>
    <div data-nav-item="" data-anchor="location" class="item" title="CONTACT US">
      <span class="item__line d-block d-lg-none"></span>
      CONTACT US
    </div>
  </div>
</nav>