<section class="section block-content block-content--light block-content--body block-content--8"
  data-social="social-media--dark" data-nav='navigate--dark' id="section-location">
  <img src="/public/images/loading.png" data-src="/public/images/bg_3.png"
    class="lazyload block-bg block-bg--bottom-right" />

  <div class="block-inner d-flex w-100 h-100 align-items-center block-content__container flex-wrap pd-mb">
    <div class="d-block d-lg-none w-100">
      <div class="main-label label-animate">LOCATION</div>
      <div class="main-title">
        <div class="text-animate d-inline-block">
          Located at Singapore
        </div>
        <br />
        <div class="text-animate d-inline-block">
          <div class="text-quote text-uppercase">
            <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>FINANCIAL HUB</span>
            <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="block-image">
      <div class="img-shadow clippath-animate">
        <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
          data-src="/public/images/block_9.png" alt="lazyload">
      </div>
    </div>

    <div class="block-caption">
      <div class="d-none d-lg-block">
        <div class="main-label label-animate">LOCATION</div>
        <div class=" main-title">
          <div class="text-animate d-inline-block">
            Located at Singapore
          </div>
          <br />
          <div class="text-animate d-inline-block">
            <div class="text-quote text-uppercase">
              <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
                <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
              <span>FINANCIAL HUB</span>
              <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
                <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="socials fade-text-animate">
        <div class="item">
          <div class="icon">
            <svg aria-hidden="true" height="11" title="" width="13">
              <use xlink:href="#icon__location" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="label">
            <a href="https://goo.gl/maps/AaZjt2MwWhKKv8ALA" target="_blank">
              1 Finlayson Green, #19-00 One Finlayson Green Singapore 049246
            </a>
          </div>
        </div>

        <div class="item">
          <div class="icon">
            <svg aria-hidden="true" height="11" title="" width="11">
              <use xlink:href="#icon_phone" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="label">
            <a href="tel:+65 6536 9557" title="+65 6536 9557">+65 6536 9557</a>
          </div>
        </div>

        <div class="item">
          <div class="icon">
            <svg aria-hidden="true" height="9" title="" width="11">
              <use xlink:href="#icon_email" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
          <div class="label">
            <a href="mailto:ask@decision-science.com" title="ask@decision-science.com">ask@decision-science.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>