<section class="section block-content block-content--dark block-content--body block-content--7"
  data-social="social-media--light" data-nav='navigate--light' id="section-join-us">
  <svg class="block-bg block-bg--top-right" aria-hidden="true" height="444" title="" width="449">
    <use xlink:href="#bg_2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>

  <div class="d-flex w-100 h-100 align-items-center position-relative block-content__container flex-wrap pd-mb">
    <div class="d-block d-lg-none">
      <div class="main-label label-animate">JOIN US</div>
      <div class="main-title">
        <div class="text-animate d-inline-block">
          Be part of
        </div>
        <div class="text-animate d-inline-block">
          <div class="text-quote text-uppercase">
            <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>OUR TEAM</span>
            <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="block-image">
      <div class="img-shadow clippath-animate">
        <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
          data-src="/public/images/block_8.png" alt="">
      </div>
    </div>

    <div class="block-caption">
      <div class="d-none d-lg-block">
        <div class="main-label label-animate">JOIN US</div>
        <div class="main-title">
          <div class="text-animate d-inline-block">
            Be part of
            <div class="text-quote text-uppercase">
              <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
                <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
              <span>OUR TEAM</span>
              <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
                <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="fade-text-animate">
        <div class="block-desc">
          <p>Decision Science is an award winning independent agency that takes pride in its employees. If you’re
            looking for a challenge as a project manager, business development manager, a UX designer or a technical
            developer, come join us to be part of an ever growing team. You’ll be supported in your work and your career
            trajectory will be a nurturing one. Be part of our growth! We hope to hear from you and discuss how we can
            support your growth as part of our team!</p>
        </div>

        <a class="main-btn" title="JOIN US" target="_blank"
          href="https://www.linkedin.com/company/decision-science">JOIN US</a>
      </div>

      <div class="block-line block-line--1"></div>
      <div class="block-line block-line--2"></div>
    </div>
  </div>
</section>