<section class="section block-content block-content--1 block-content--dark" data-social="social-media--light"
  data-nav="navigate--light">
  <canvas id="c2" class="canvas canvas--2 active"></canvas>
  <div class="container">
    <div class="intro">
      <div class="intro__label title-animate">Digital disruption through</div>
      <div class="intro__title text-uppercase title-animate">
        <div class="d-inline-block">
          <span>data</span>
        </div>
        <div class="d-inline-block ml-4 mr-4">
          <span>&</span>
        </div>
        <div class="d-inline-block">
          <span>technology</span>
        </div>


      </div>
    </div>
    <ul class="certificates">
      <li class="item">
        <div class="item__image">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/certificate_1.png"
            alt=" ISO 9001 Certified Company" />
        </div>
        <div class="item__title">
          ISO 9001<br />
          Certified Company
        </div>
      </li>
      <li class="item">
        <div class="item__image">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/certificate_2.png"
            alt="New Entrepreneur Award Winner 2019" />
        </div>
        <div class="item__title">
          New Entrepreneur <br />
          Award Winner 2019
        </div>
      </li>
      <li class="item">
        <div class="item__image">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/certificate_3.png"
            alt="Fastest Growing Company (2019)" />
        </div>
        <div class="item__title">
          Fastest Growing <br />
          Company (2019)
        </div>
      </li>
    </ul>
  </div>
  <video id="video1" src="/public/video/BCA-loop-min.mp4" controls="true" playsinline crossorigin="anonymous"
    muted="muted" loop class="video"></video>
</section>