<section class="section block-content block-content--light block-content--body block-content--6"
  data-social="social-media--dark" data-nav='navigate--dark' id="section-leadership">
  <svg class="block-bg block-bg--top-right" aria-hidden="true" height="475" title="" width="492">
    <use xlink:href="#bg_1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>

  <div
    class="d-flex w-100 h-100 align-items-center flex-wrap block-content__container position-relative flex-column justify-content-center">
    <div class="w-100 pd-mb">
      <div class="main-label label-animate">
        <span class="main-label__text">
          LEADERSHIP
        </span>
      </div>
      <div class="main-title">
        <div class="text-animate d-inline-block">
          Our
          <div class="text-quote text-uppercase">
            <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>leadership</span>
            <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="leadership w-100">

      <div class="item">
        <div class="d-flex w-100 h-100 align-items-start flex-wrap">
          <div class="block-image">
            <div class="img-shadow clippath-animate">
              <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
                data-src="/public/images/Collin.png" alt="animated">
            </div>
            <div class="block-image__caption">
              <div class="text-right">
                <button class="read-more d-inline-block d-lg-none" data-view-more="" data-target="#leadershipModal">
                  READ MORE
                  <svg class="icon" aria-hidden="true" height="8" title="" width="12">
                    <use xlink:href="#icon_arrow_right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </button>
              </div>
              <div class="block-image__modal">
                <p class="name">
                  <span class="text">COLLIN ANG</span>
                  <!-- <a class="link" href="#" title="Linkedin">
                    <svg aria-hidden="true" height="16" title="" width="16">
                      <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a> -->
                </p>
                <p class="position">Managing Director</p>
                <p class="winner">Winner of New Entrepreneur 2019</p>
              </div>
            </div>
          </div>
          <div class="block-caption">
            <div class="fade-text-animate">
              <p class="name">
                <span class="text">COLLIN ANG</span>
                <!-- <a class="link" href="#" title="Linkedin">
                  <svg aria-hidden="true" height="16" title="" width="16">
                    <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </a> -->
              </p>
              <p class="position">Managing Director</p>
              <p class="winner">Winner of New Entrepreneur 2019</p>

              <div class="block-desc">
                <p>
                  Decision Science Agency (DS), started by Collin Ang in 2013, helps companies to improve the
                  efficiency of digital marketing operations by focusing on digital strategy, usability and analytics.
                  DS has steadily grown from 2 staff to 50 by the end of 2018. Despite its humble origins, it has
                  snagged numerous projects from government agencies and Multinational Corporations alike. DS is on a
                  growth path, averaging an annual revenue growth rate of 35% from 2013-2018. Staff strength has also
                  been increasing steadily by an average 6-7 headcount every year from 2013-2018. In 2019, DS was
                  ranked 25 th in Straits Times Singapore’s fastest growing companies’ rankings.
                </p>
                <p>
                  Under Collin’s leadership, DS has grown from strength to strength from every project implemented, and
                  customer satisfied. Through past projects with different customers especially in the financial
                  services domain, DS has managed to create Intellectual Properties which can be productised. DS’s
                  business strategy is now entering a higher and challenging phase of productisation of some of their
                  bespoke design into ready products.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="d-flex w-100 h-100 align-items-start flex-wrap">
          <div class="block-image">
            <div class="img-shadow clippath-animate">
              <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
                data-src="/public/images/shan.png" alt="animated">
            </div>
            <div class="block-image__caption">
              <div class="text-right">
                <button class="read-more d-inline-block d-lg-none" data-view-more="" data-target="#leadershipModal">
                  READ MORE
                  <svg class="icon" aria-hidden="true" height="8" title="" width="12">
                    <use xlink:href="#icon_arrow_right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </button>
              </div>
              <div class="block-image__modal">
                <p class="name">
                  <span class="text">Chua Shan Yi </span>
                  <!-- <a class="link" href="#" title="Linkedin">
                    <svg aria-hidden="true" height="16" title="" width="16">
                      <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a> -->
                </p>
                <p class="position">Head of Operations</p>
                <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->
              </div>
            </div>
          </div>
          <div class="block-caption">
            <div class="fade-text-animate">
              <p class="name">
                <span class="text">Chua Shan Yi</span>
                <!-- <a class="link" href="#" title="Linkedin">
                  <svg aria-hidden="true" height="16" title="" width="16">
                    <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </a> -->
              </p>
              <p class="position">Head of Operations</p>
              <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->

              <div class="block-desc">
                <p>
                  When Decision Science first founded, Shan was part of the starting team as a project manager. As a
                  former developer, she began to learn the ropes of project management under Collin’s leadership at
                  Decision Science and soon began to lead various projects as the project lead. As the team grew further
                  in size, Shan continued to work across with more project teams and took this opportunity to groom new
                  talents. She began to coach and motivate the many folks at Decision Science to work out their
                  professional challenges, and sometimes even personal challenges as a friend. She is also heading the
                  operations team in managing the BAU operations in DS.
                </p>
                <p>
                  As a working mother of one very active kid, Shan also spends a good amount of time attempting new
                  recipes in her free time. And is currently training her six year old to be a capable sous chef in her
                  kitchen! Her core belief is - there is always an opportunity to learn and improve, and it does not
                  matter what age you are at.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="d-flex w-100 h-100 align-items-start flex-wrap">
          <div class="block-image">
            <div class="img-shadow clippath-animate">
              <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
                data-src="/public/images/lynette.png" alt="animated">
            </div>
            <div class="block-image__caption">
              <div class="text-right">
                <button class="read-more d-inline-block d-lg-none" data-view-more="" data-target="#leadershipModal">
                  READ MORE
                  <svg class="icon" aria-hidden="true" height="8" title="" width="12">
                    <use xlink:href="#icon_arrow_right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </button>
              </div>
              <div class="block-image__modal">
                <p class="name">
                  <span class="text">Lynette Leong </span>
                  <!-- <a class="link" href="#" title="Linkedin">
                    <svg aria-hidden="true" height="16" title="" width="16">
                      <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a> -->
                </p>
                <p class="position">Project Director</p>
                <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->
              </div>
            </div>
          </div>
          <div class="block-caption">
            <div class="fade-text-animate">
              <p class="name">
                <span class="text">Lynette Leong </span>
                <!-- <a class="link" href="#" title="Linkedin">
                  <svg aria-hidden="true" height="16" title="" width="16">
                    <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </a> -->
              </p>
              <p class="position">Project Director</p>
              <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->

              <div class="block-desc">
                <p>
                  Graduated from University of Queensland in Information Technology, Lynette started her career as a
                  developer in the early days. Thereafter, she joined a digital agency to advance her career in project
                  management roles and has never looked back.
                  Having worked in different agencies and handled various digital projects and accounts, Lynette joined
                  the project management team at Decision Science during their founding years.
                </p>
                <p>
                  Lynette is now part of the managing team in Decision Science, together with the Project Director, they
                  lead a team of project managers.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="d-flex w-100 h-100 align-items-start flex-wrap">
          <div class="block-image">
            <div class="img-shadow clippath-animate">
              <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
                data-src="/public/images/lee.png" alt="animated">
            </div>
            <div class="block-image__caption">
              <div class="text-right">
                <button class="read-more d-inline-block d-lg-none" data-view-more="" data-target="#leadershipModal">
                  READ MORE
                  <svg class="icon" aria-hidden="true" height="8" title="" width="12">
                    <use xlink:href="#icon_arrow_right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </button>
              </div>
              <div class="block-image__modal">
                <p class="name">
                  <span class="text">Lee Kok Kay </span>
                  <!-- <a class="link" href="#" title="Linkedin">
                    <svg aria-hidden="true" height="16" title="" width="16">
                      <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a> -->
                </p>
                <p class="position">Project Director</p>
                <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->
              </div>
            </div>
          </div>
          <div class="block-caption">
            <div class="fade-text-animate">
              <p class="name">
                <span class="text">Lee Kok Kay </span>
                <!-- <a class="link" href="#" title="Linkedin">
                  <svg aria-hidden="true" height="16" title="" width="16">
                    <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </a> -->
              </p>
              <p class="position">Project Director</p>
              <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->

              <div class="block-desc">
                <p>
                  Kok Kay has joined Decision Science as a project manager switching from a software house to venture
                  into the digital domain. He has started off the role being involved in a digital transformation
                  project with one of Singapore renowned insurance companies using Adobe experience cloud solutions.
                  This project has provided him the opportunity to gain a lot of experience and insights in the digital
                  domain and technologies. Since then, he has also headed and implemented several other digital
                  technical and analytics projects with other clients. He is currently part of the managing team and
                  continues to work with other project managers and team members in the project management and delivery.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="item">
        <div class="d-flex w-100 h-100 align-items-start flex-wrap">
          <div class="block-image">
            <div class="img-shadow clippath-animate">
              <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
                data-src="/public/images/tony.png" alt="animated">
            </div>
            <div class="block-image__caption">
              <div class="text-right">
                <button class="read-more d-inline-block d-lg-none" data-view-more="" data-target="#leadershipModal">
                  READ MORE
                  <svg class="icon" aria-hidden="true" height="8" title="" width="12">
                    <use xlink:href="#icon_arrow_right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </button>
              </div>
              <div class="block-image__modal">
                <p class="name">
                  <span class="text">Tony Tran </span>
                  <!-- <a class="link" href="#" title="Linkedin">
                    <svg aria-hidden="true" height="16" title="" width="16">
                      <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a> -->
                </p>
                <p class="position">Project Director</p>
                <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->
              </div>
            </div>
          </div>
          <div class="block-caption">
            <div class="fade-text-animate">
              <p class="name">
                <span class="text">Tony Tran </span>
                <!-- <a class="link" href="#" title="Linkedin">
                  <svg aria-hidden="true" height="16" title="" width="16">
                    <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </a> -->
              </p>
              <p class="position">Head of Technology and Business Development</p>
              <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->

              <div class="block-desc">
                <p>
                  In 2001, Tony came to Singapore under the prestigious Singapore Scholarship Programme for promising
                  ASEAN students. He grew to love the country and became a Singapore’s citizen shortly after graduating
                  from Nanyang Technological University (NTU). Since then, he has led numerous large-scale digital
                  projects in both public and private sectors.
                </p>
                <p>

                  Tony met Dr. Collin in 2014 and was immediately inspired by the latter’s vision and kindness. From day
                  one, Tony has been involved in important management discussions, defining and refining the company’s
                  strategic direction. Under Dr. Collin’s guidance, he has led many business initiatives and established
                  strategic partnerships with global corporates and technological leaders. Today, leading a team of
                  solution architects and engineers, he embarks on the mission to solve client’s business problems and
                  improve the way they work through digital transformation and technological innovations.
                </p>
                <p>
                  Tony is known to his colleagues and friends as a workaholic, he rarely has spare time for his hobbies.
                  Many don’t know that he is an avid reader of history and fiction novels. Back in those days in high
                  school, he was a semi-professional gamer. He lives to be challenged. He loves the thrill of the
                  competition. And he is good at games where his strength in decision-making can truly shine.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="item">
        <div class="d-flex w-100 h-100 align-items-start flex-wrap">
          <div class="block-image">
            <div class="img-shadow clippath-animate">
              <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
                data-src="/public/images/hieu.png" alt="animated">
            </div>
            <div class="block-image__caption">
              <div class="text-right">
                <button class="read-more d-inline-block d-lg-none" data-view-more="" data-target="#leadershipModal">
                  READ MORE
                  <svg class="icon" aria-hidden="true" height="8" title="" width="12">
                    <use xlink:href="#icon_arrow_right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </button>
              </div>
              <div class="block-image__modal">
                <p class="name">
                  <span class="text">Hieu Nguyen </span>
                  <!-- <a class="link" href="#" title="Linkedin">
                    <svg aria-hidden="true" height="16" title="" width="16">
                      <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a> -->
                </p>
                <p class="position">Technical Director</p>
                <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->
              </div>
            </div>
          </div>
          <div class="block-caption">
            <div class="fade-text-animate">
              <p class="name">
                <span class="text">Hieu Nguyen </span>
                <!-- <a class="link" href="#" title="Linkedin">
                  <svg aria-hidden="true" height="16" title="" width="16">
                    <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </a> -->
              </p>
              <p class="position">Technical Director</p>
              <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->

              <div class="block-desc">
                <p>
                  Being a Technical Director in DS, 40% of Hieu's working time is spent on computers and technologies,
                  catching up with the trends. The remaining 60% he uses to understand what people are thinking, what
                  they need and want, and try to bring everyone together in order to achieve the common goals. For
                  himself, he's a technical geek, a solutionist who is obsessed with modern web and cloud technologies,
                  and lastly, just another strong believer in the future of ubiquitous computing.
                </p>
                <p>

                  In a normal day, you will see Hieu busy with a messaging app that has 1000+ unread lines, a mailbox
                  that has 100+ unread emails, a Chrome browser that has 50+ tabs opening for some random research, and
                  maybe also a terminal that has 20+ sub-consoles with various commands running like a hacker movie.
                </p>
                <p>

                  Out of that hectic time, you can find him lying down lazily enjoying a book, a game, a movie or just
                  doing nothing but looking at his kid running around shouting the name of some random superhero.

                </p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="d-flex w-100 h-100 align-items-start flex-wrap">
          <div class="block-image">
            <div class="img-shadow clippath-animate">
              <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
                data-src="/public/images/ChoLai.png" alt="animated">
            </div>
            <div class="block-image__caption">
              <div class="text-right">
                <button class="read-more d-inline-block d-lg-none" data-view-more="" data-target="#leadershipModal">
                  READ MORE
                  <svg class="icon" aria-hidden="true" height="8" title="" width="12">
                    <use xlink:href="#icon_arrow_right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </button>
              </div>
              <div class="block-image__modal">
                <p class="name">
                  <span class="text">Cho Lai Win </span>
                  <!-- <a class="link" href="#" title="Linkedin">
                    <svg aria-hidden="true" height="16" title="" width="16">
                      <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a> -->
                </p>
                <p class="position">Deputy Technical Director</p>
                <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->
              </div>
            </div>
          </div>
          <div class="block-caption">
            <div class="fade-text-animate">
              <p class="name">
                <span class="text">Cho Lai Win </span>
                <!-- <a class="link" href="#" title="Linkedin">
                  <svg aria-hidden="true" height="16" title="" width="16">
                    <use xlink:href="#icon_linkedin" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                  </svg>
                </a> -->
              </p>
              <p class="position">Deputy Technical Director</p>
              <!-- <p class="winner">Winner of New Entrepreneur 2019</p> -->

              <div class="block-desc">
                <p>
                  After completing her first degree in Computer Sciences, Cho has accomplished her Graduate Diploma in
                  Systems Analysis from NUS. She has started her career as a full time backend developer for 3 years and
                  then working as a project manager for the next 7 years till date. She joined Decision Science as a
                  technical project manager 2 years ago. She is most passionate about translating the user requirements
                  into technical specifications using her technical background.
                  Currently Cho is working not only as a project manager but also as assistant technical director which
                  is part of the management team in DS. Together with the technical director, she helps to manage the
                  software development team.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="leadership-bar">
      <div class="line">
        <div class="bar" style="width: 20%;"></div>
      </div>
      <div class="number">
        <span class="current">01</span> / 07
      </div>
      <div class="btns d-flex">
        <button class="btn-control btn-control--prev">
          <svg class="btn-control__icon" aria-hidden=" true" height="34" title="" width="34">
            <use xlink:href="#icon_arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </button>
        <button class="btn-control btn-control--next">
          <svg class="btn-control__icon" aria-hidden=" true" height="34" title="" width="34">
            <use xlink:href="#icon_arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>