<section class="section block-content block-content--dark block-content--body block-content--3"
  data-social="social-media--light" data-nav='navigate--light' id="section-philosophy">
  <svg class="block-bg block-bg--top-right" aria-hidden="true" height="444" title="" width="449">
    <use xlink:href="#bg_2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>

  <div class="d-flex w-100 h-100 justify-content-center flex-column block-content__container">
    <div class="pd-mb">
      <div class="main-label label-animate">
        <span class="main-label__text">WHAT WE DO</span>
      </div>
      <div class="main-title">
        <div class="text-animate d-inline-block">We believe in the combined power of</div>
        <br />
        <div class="text-animate d-inline-block">
          empathy
          <div class="text-quote text-uppercase">
            <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>analytics and creativity</span>
            <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="philosophy">
      <div class="philosophy__circle fade-animate">
        <img class="philosophy__circle__bg lazyload" src="/public/images/loading.png"
          data-src="/public/images/philosophy_circle.jpg" />

        <img class="philosophy__image active lazyload" src="/public/images/loading.png"
          data-src="/public/images/icon_philosophy_1.svg" alt="" data-index="0">

        <img class="philosophy__image lazyload" src="/public/images/loading.png"
          data-src="/public/images/icon_philosophy_3.svg" alt="" data-index="1">

        <img class="philosophy__image lazyload" src="/public/images/loading.png"
          data-src="/public/images/icon_philosophy_4.svg" alt="" data-index="3">

        <img class="philosophy__image lazyload" src="/public/images/loading.png"
          data-src="/public/images/icon_philosophy_2.svg" alt="" data-index="2">

        <div class="philosophy__circle__line">
          <input class="philosophy__circle__input d-none" type="hidde" value="0" />
          <svg class="line" width="192" height="191" viewBox="0 0 192 191" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="186" r="4.625" fill="#1F2533" stroke="white" stroke-width="0.75" />
            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="1" width="182" height="180">
              <rect y="1" width="182" height="180" fill="#C4C4C4" />
            </mask>
            <g mask="url(#mask0)">
              <circle cx="187" cy="186" r="180.5" stroke="white" />
            </g>
            <circle cx="187" cy="5" r="4.625" fill="#1F2533" stroke="white" stroke-width="0.75" />
          </svg>
        </div>
      </div>

      <div id="swipe-container" class="philosophy__control">
        <div class="item item--top-left active" data-index="0">
          <h4 class="item__title">Agile</h4>
          <div class="item__desc">
            <p>Our working team is trained in agile and scrum methodology to collaborate and deliver efficiently</p>
          </div>
        </div>

        <div class="item item--bottom-left" data-index="1">
          <h4 class="item__title">Customer Experience</h4>
          <div class="item__desc">
            <p>We focus on multi-channel and </p>
            <p> cross channel customer experience </p>
            <p> to support the desirable customer experience</p>
          </div>
        </div>

        <div class="item item--bottom-right" data-index="2">
          <h4 class="item__title">Data Driven</h4>
          <div class="item__desc">
            <p>Provide strategic solutions based on data </p>
            <p> analysis and interpretation to improve </p>
            <p> efficiency of digital marketing operations</p>
          </div>
        </div>

        <div class="item item--top-right" data-index="3">
          <h4 class="item__title">Design Thinking</h4>
          <div class="item__desc">
            <p>Our team is trained to use Design Thinking as a human-centered approach to innovate solutions for our
              clients</p>
          </div>
        </div>
      </div>

      <div class="philosophy__dots">
        <div class="dot active" data-index="0"></div>
        <div class="dot" data-index="1"></div>
        <div class="dot" data-index="2"></div>
        <div class="dot" data-index="3"></div>
      </div>
    </div>
  </div>
</section>