<section class="section block-content block-content--dark block-content--body block-content--5"
  data-social="social-media--light" data-nav='navigate--light' id="section-projects">
  <svg class="block-bg block-bg--top-right" aria-hidden="true" height="444" title="" width="449">
    <use xlink:href="#bg_2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>

  <div class="d-flex w-100 h-100 align-items-center flex-wrap block-content__container pd-mb position-relative">
    <div class="projects w-100">

      <div class="item projects__item">
        <div class="d-flex w-100 align-items-center flex-wrap">
          <div class="block-image">
            <img class="img lazyload" src="/public/images/loading.png"
              data-src="/public/images/starhub_online_store.png" alt="" />
            <div class="block-image__inner">
              <img class="block-image__mask lazyload" src="/public/images/loading.png"
                data-src="/public/images/bg_circle.jpg" />
              <div class="dot dot--1"></div>
              <div class="dot dot--2"></div>
              <div class="dot dot--3"></div>
              <div class="dot dot--4"></div>
            </div>
          </div>

          <div class="block-caption">
            <div class="main-label label-animate">PROJECTS</div>
            <div class="main-title text-animate">
              <div class="text-quote text-uppercase">
                <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
                  <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <span>StarHub</span>
                <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title=""
                  width="19">
                  <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
            </div>
            <div class="main-title text-animate" style="opacity: 1; transform: translate(0px, 0px);">
              <span>Online Store</span>
          </div>
            <div class="block-desc fade-text-animate">
              <!-- <p class="d-block d-lg-none block-label">STARHUB</p> -->
              <p>Of our many digital projects done for StarHub, StarHub Business Online Store was commissioned to solve
                a very unique challenge before going to market. Due to the high level of complexity within enterprise
                solutions, the Enterprise Marketing team identified that a high level of transformation is needed for
                its current selling model in order for the products go to the online marketplace.

                To achive that, DS was brought in as the digital expertise to discuss, diagnose and develop a digital
                solution to help StarHub Enterprise Marketing team create an online marketplace that appeals to SMB/SME
                start-ups who very often seek fast to market solutions.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="item projects__item">
        <div class="d-flex w-100 align-items-center flex-wrap">
          <div class="block-image">
            <img class="img lazyload" src="/public/images/loading.png" data-src="/public/images/avia.png" alt="" />
            <div class="block-image__inner">
              <img class="block-image__mask lazyload" src="/public/images/loading.png"
                data-src="/public/images/bg_circle.jpg" />
              <div class="dot dot--1"></div>
              <div class="dot dot--2"></div>
              <div class="dot dot--3"></div>
              <div class="dot dot--4"></div>
            </div>
          </div>

          <div class="block-caption">
            <div class="main-label label-animate">PROJECTS</div>
            <div class="main-title text-animate">
              <div class="text-quote text-uppercase">
                <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
                  <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <span>Aviva</span>
                <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title=""
                  width="19">
                  <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
            </div>
            <div class="main-title text-animate" style="opacity: 1; transform: translate(0px, 0px);">
              <span>Digital Marketing Transformation</span>
          </div>
            <div class="block-desc fade-text-animate">
              <!-- <p class="d-block d-lg-none block-label">Aviva AC</p> -->
              <p>Since 2016, Aviva has partnered with Decision Science to transform its marketing operations and build
                an omni-channel digital solution. In order to speak to individual customer, we brought together data
                across
                channels as customers move across web, mobile, email, and offline channels. This helped Aviva build a
                360-degree
                view of how customers interact with digital campaigns and experiences. In addition, we built a unified
                customer
                profile including first-party, second-party and third-party data so that precise targeting drove high
                conversion
                rate. Lastly, we transformed Aviva marketing operations from a manual and time-intensive process to a
                highly efficient
                and campaign management that is fast enough to capture demands in a timely manner as well as able to
                provide
                real-time decisioning and reporting.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="item projects__item">
        <div class="d-flex w-100 align-items-center flex-wrap">
          <div class="block-image">
            <img class="img lazyload" src="/public/images/loading.png" data-src="/public/images/sammi.png" alt="" />
            <div class="block-image__inner">
              <img class="block-image__mask lazyload" src="/public/images/loading.png"
                data-src="/public/images/bg_circle.jpg" />
              <div class="dot dot--1"></div>
              <div class="dot dot--2"></div>
              <div class="dot dot--3"></div>
              <div class="dot dot--4"></div>
            </div>
          </div>

          <div class="block-caption">
            <div class="main-label label-animate">PROJECTS</div>
            <div class="main-title text-animate">
              <div class="text-quote text-uppercase">
                <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
                  <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                <span>Great Eastern</span>
                <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title=""
                  width="19">
                  <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
              </div>
            </div>
            <div class="main-title text-animate" style="opacity: 1; transform: translate(0px, 0px);">
              <span>GreatPlanner</span>
          </div>
            <div class="block-desc fade-text-animate">
              <!-- <p class="d-block d-lg-none block-label"> Great Eastern - SAMMI</p> -->
              <p>A smart digital assistant using machine learning technology, inbuilt into the app helps the agent to
                maximize their time and
                secure the best possible leads. Specially targeted to reach out to their existing clients and
                re-establishing relevant conversations.

                Ability to track their sales performance and schedule follow up on the go. Saving time and manual effort
                for tracking and
                monitoring. Seamless daily activity planning via the GreatPlanner provides greater efficiency and
                productivity. A single digital
                application replacing the need for multiple tools and devices.

                With lead management on the go, advisors are no longer desk bound to follow up on real-time sale
                opportunities sent by
                notifications to their mobile.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="projects-bar">
      <div class="line">
        <div class="bar" style="width: 33.33%;"></div>
      </div>
      <div class="number">
        <span class="current">01</span> / 03
      </div>
      <div class="btns d-flex">
        <button class="btn-control btn-control--prev">
          <svg class="btn-control__icon" aria-hidden=" true" height="34" title="" width="34">
            <use xlink:href="#icon_arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </button>
        <button class="btn-control btn-control--next">
          <svg class="btn-control__icon" aria-hidden=" true" height="34" title="" width="34">
            <use xlink:href="#icon_arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>