<section class="section block-content block-content--light block-content--body about_us block-content--2"
  data-social="social-media--dark" data-nav='navigate--dark' id="section-about-us">
  <svg class="block-bg block-bg--top-right" aria-hidden="true" height="475" title="" width="492">
    <use xlink:href="#bg_1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>

  <div class="d-flex w-100 align-items-center position-relative flex-wrap block-content__container">
    <div class="block-heading pd-mb">
      <div class="block-col block-col--left">
        <div class="main-label about_us__label label-animate">ABOUT US</div>
        <div class="main-title about_us__title">
          <div class="text-animate d-inline-block about_us__title__1 ">We are energetic, smart</div>
          <br />
          <div class="text-animate d-inline-block about_us__title__2">and
            <div class="about_us__title__quote text-quote d-inline-flex align-items-center text-uppercase">
              <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
                <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
              <span>passionate</span>
              <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
                <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="block-col block-col--right">
        <div class="block-desc about_us__decription fade-text-animate">
          <p>
            In 2013, Decision Science was founded to bridge a gap in the digital industry primarily dominated by two
            types of agencies: design agencies with their beautiful craft on one end, and system integration companies
            with their high focus on integration only.
          </p>
          <p>
            We wanted to create a new generation, where customer journey is taken care in a seamless manner. At a time
            when UX and UI first started to develop its grip on the industry, Decision Science kick-started and adopted
            data as the drive behind efficient interfaces – and therein onwards many great partnerships with our clients
            took form.
          </p>

          <div class="block-line block-line--1"></div>
          <div class="block-line block-line--2"></div>
        </div>
      </div>
    </div>

    <div class="block-image clippath-animate">
      <div class="img-shadow">
        <img class="img clippath-img-animate lazyload" src="/public/images/loading.png"
          data-src="/public/images/block_1.png" alt="">
      </div>
    </div>

    <div class="block-caption">
      <div class="block-tab block-tab--1 active">
        <div class="block-tab__title">Our Philosophy</div>
        <div class="block-tab__content">
          <div class="item">
            <div class="item__icon">
              <svg aria-hidden="true" width="48" height="41" title="Facebook">
                <use xlink:href="#icon_phi_1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="item__caption">
              <p class="item__title">Tech Abilities</p>
              <div class="item__desc">
                <p>Competency &amp; comprehension</p>
                <p>Relevant tech stack</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="item__icon">
              <svg aria-hidden="true" width="39" height="39" title="Facebook">
                <use xlink:href="#icon_phi_2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="item__caption">
              <p class="item__title">Right People</p>
              <div class="item__desc">
                <p>Selection and recruitment</p>
                <p>Performance review &amp; dismissal</p>
                <p>Training and KPI management</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="item__icon">
              <svg aria-hidden="true" width="48" height="46" title="Facebook">
                <use xlink:href="#icon_phi_3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="item__caption">
              <p class="item__title">Efficiency</p>
              <div class="item__desc">
                <p>Profit and loss tracking</p>
                <p>Teamwork and efficiency</p>
                <p>Timeliness of deliverable</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="item__icon">
              <svg aria-hidden="true" width="49" height="44" title="Facebook">
                <use xlink:href="#icon_phi_4" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="item__caption">
              <p class="item__title">Best Quality</p>
              <div class="item__desc">
                <p>Documentation and tracking</p>
                <p> Customer satisfaction</p>
                <p>Reliability and managed rework</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-tab block-tab--2 block-tab--beliefs beliefs_tab">
        <div class="block-tab__title">Our Beliefs</div>
        <div class="block-tab__content beliefs_tab__content">

          <div class="item Employees">
            <div class="item__icon">
              <svg aria-hidden="true" width="50" height="50" title="Facebook">
                <use xlink:href="#icon_be_1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="item__caption">
              <p class="item__title">Listen Actively to Empathize</p>
              <div class="item__desc">
                <p>Towards our clients and staff, we welcome open conversations as the first step to success is to
                  listen actively, and the second step is to empathize and learn from
                  each other</p>
              </div>
            </div>
          </div>

          <div class="item Employees">
            <div class="item__icon">
              <svg aria-hidden="true" width="50" height="50" title="Facebook">
                <use xlink:href="#icon_be_2" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="item__caption">
              <p class="item__title">Pay it Foward</p>
              <div class="item__desc">
                <p>The folks at DS are no stranger to CSR events and often find time to participate in events by Red
                  Cross, volunteering has helped our staff appreciate and share
                  our blessings</p>
              </div>
            </div>
          </div>

          <div class="item Employees">
            <div class="item__icon">
              <svg aria-hidden="true" width="58" height="58" title="Facebook">
                <use xlink:href="#icon_be_3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </div>
            <div class="item__caption">
              <p class="item__title">Employees First</p>
              <div class="item__desc">
                <p>As a core company value, each managerial leader is tasked with the mandate to care for each employee
                  – birthdays, seasons are often celebrated with everyone</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-control">
        <div class="line">
          <div class="bar" style="width: 50%;"></div>
        </div>
        <div class="number">
          <span class="current">01</span> / 02
        </div>
        <div class="row no-gutters">
          <div class="col item-control active" data-index="1"></div>
          <div class="col item-control" data-index="2"></div>
        </div>
        <div class="btns d-flex">
          <button class="btn-control btn-control--prev">
            <svg class="btn-control__icon" aria-hidden=" true" height="34" title="" width="34">
              <use xlink:href="#icon_arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </button>
          <button class="btn-control btn-control--next">
            <svg class="btn-control__icon" aria-hidden=" true" height="34" title="" width="34">
              <use xlink:href="#icon_arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>