<section class="section block-content block-content--dark block-content--body block-content--9"
  data-social="social-media--light" data-nav='navigate--dark' id="section-beliefs">
  <svg class="block-bg block-bg--top-right" aria-hidden="true" height="475" title="" width="492">
    <use xlink:href="#bg_1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>

  <div class="d-flex w-100 h-100 flex-column justify-content-center block-content__container pd-mb">
    <div class="main-label label-animate">OUR BELIEFS</div>
    <div class="main-title">
      <div class="text-animate d-inline-block">
        Our beliefs lead us to easier
      </div>
      <br />
      <div class="text-animate d-inline-block">
        <div class="text-quote text-uppercase">
          <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
            <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <span>decisions and actions</span>
          <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
            <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="beliefs">
      <div class="item">
        <div class="item__inner">
          <div class="item__bg"></div>
          <div class="item__caption">
            <div class="item__icon">
              <svg width="165" height="165" viewBox="0 0 165 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle opacity="0.2" cx="82.5" cy="82.5" r="82" stroke="#FE0202" class="svg-stroke-1" />
                <path
                  d="M82.4987 143.763C48.7184 143.763 21.2363 116.28 21.2363 82.5002C21.2363 48.7199 48.7184 21.2378 82.4987 21.2378C116.279 21.2378 143.761 48.7199 143.761 82.5002C143.761 116.28 116.279 143.763 82.4987 143.763ZM82.4987 21.5983C48.9167 21.5983 21.5968 48.9182 21.5968 82.5002C21.5968 116.082 48.9167 143.402 82.4987 143.402C116.081 143.402 143.401 116.082 143.401 82.5002C143.401 48.9182 116.081 21.5983 82.4987 21.5983Z"
                  fill="#FE0202" class="svg-fill-1" />
                <circle cx="81.6824" cy="83.3169" r="40.8416" class="svg-circle" />
                <rect x="71.7383" y="89.4824" width="28.6319" height="16.2056" fill="white" stroke="#FE0202" />
                <path d="M76.9707 92.8054H96.088V93.7613H76.9707V92.8054Z" fill="#FE0202" />
                <path d="M76.9707 96.6289H96.088V97.5848H76.9707V96.6289Z" fill="#FE0202" />
                <path d="M76.9707 100.453H96.088V101.409H76.9707V100.453Z" fill="#FE0202" />
                <path d="M74.1045 96.6289H75.0604V97.5848H74.1045V96.6289Z" fill="#FE0202" />
                <path d="M74.1064 92.8054H75.0623V93.7613H74.1064V92.8054Z" fill="#FE0202" />
                <path d="M74.1045 100.453H75.0604V101.409H74.1045V100.453Z" fill="#FE0202" />
                <rect x="99.6533" y="95.5686" width="1.63366" height="8.16832" fill="white" />
                <circle cx="100.411" cy="97.9583" r="2.01467" fill="white" stroke="#FE0202" stroke-width="0.75" />
                <rect x="-0.5" y="0.5" width="28.6319" height="16.2056" transform="matrix(-1 0 0 1 89.3574 76.5559)"
                  fill="white" stroke="#FE0202" />
                <path d="M67.416 80.3792H86.5334V81.335H67.416V80.3792Z" fill="#FE0202" />
                <path d="M67.416 84.2029H86.5334V85.1587H67.416V84.2029Z" fill="#FE0202" />
                <path d="M67.416 88.0261H86.5334V88.982H67.416V88.0261Z" fill="#FE0202" />
                <path d="M64.5488 84.2029H65.5047V85.1587H64.5488V84.2029Z" fill="#FE0202" />
                <path d="M64.5488 80.3792H65.5047V81.335H64.5488V80.3792Z" fill="#FE0202" />
                <path d="M64.5488 88.0261H65.5047V88.982H64.5488V88.0261Z" fill="#FE0202" />
                <rect x="72.6943" y="61.7622" width="28.6319" height="16.2056" fill="white" stroke="#FE0202" />
                <path d="M77.9277 65.0859H97.0451V66.0418H77.9277V65.0859Z" fill="#FE0202" />
                <path d="M77.9277 68.9094H97.0451V69.8653H77.9277V68.9094Z" fill="#FE0202" />
                <path d="M77.9277 72.7327H97.0451V73.6885H77.9277V72.7327Z" fill="#FE0202" />
                <path d="M75.0615 68.9094H76.0174V69.8653H75.0615V68.9094Z" fill="#FE0202" />
                <path d="M75.0635 65.0859H76.0193V66.0418H75.0635V65.0859Z" fill="#FE0202" />
                <path d="M75.0615 72.7327H76.0174V73.6885H75.0615V72.7327Z" fill="#FE0202" />
                <rect x="100.473" y="68.6138" width="1.63366" height="4.08416" fill="white" />
                <circle cx="101.349" cy="66.9194" r="2.01467" fill="white" stroke="#FE0202" stroke-width="0.75" />
                <circle cx="126.458" cy="38.7998" r="3.17574" fill="#EBF0F5" stroke="#FE0202" class="svg-dot" />
                <circle cx="47.7841" cy="132.735" r="3.17574" fill="#EBF0F5" stroke="#FE0202" class="svg-dot" />
              </svg>
            </div>
            <div class="item__title">Listen Actively to Empathize</div>
            <p class="item__desc">Towards our clients and staff, we welcome open conversations as the first step to
              success is to listen actively, and the second step is to empathize and learn from
              each other</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item__inner">
          <div class="item__bg"></div>
          <div class="item__caption">
            <div class="item__icon">
              <svg width="165" height="165" viewBox="0 0 165 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle opacity="0.3" cx="82.5" cy="82.5" r="82" class="svg-stroke-1" />
                <path
                  d="M82.5007 143.762C48.7204 143.762 21.2383 116.28 21.2383 82.4999C21.2383 48.7196 48.7204 21.2375 82.5007 21.2375C116.281 21.2375 143.763 48.7196 143.763 82.4999C143.763 116.28 116.281 143.762 82.5007 143.762ZM82.5007 21.5981C48.9186 21.5981 21.5988 48.9179 21.5988 82.4999C21.5988 116.082 48.9186 143.402 82.5007 143.402C116.083 143.402 143.403 116.082 143.403 82.4999C143.403 48.9179 116.083 21.5981 82.5007 21.5981Z"
                  class="svg-fill-1" />
                <circle cx="82.4998" cy="82.5" r="40.3416" class="svg-circle" />
                <path
                  d="M101.341 86.8808L101.332 86.8656C100.928 86.2493 100.31 85.8039 99.5969 85.6148C98.8841 85.4257 98.1267 85.5062 97.4695 85.8408L93.4182 87.9126C92.933 87.2314 92.2191 86.7473 91.4067 86.5485C90.5943 86.3497 89.7376 86.4494 88.9926 86.8296L83.8905 89.4445C83.6244 89.5816 83.3291 89.6522 83.0297 89.6503C82.7303 89.6485 82.4359 89.5741 82.1715 89.4337L78.6942 87.5876C77.3783 86.8851 75.8935 86.561 74.4045 86.6512C72.9155 86.7413 71.4806 87.2423 70.2591 88.0985L69.8665 86.2258C69.8493 86.1443 69.8163 86.067 69.7692 85.9983C69.7221 85.9296 69.6619 85.8709 69.592 85.8255C69.5222 85.7802 69.444 85.7491 69.3621 85.734C69.2802 85.7189 69.1962 85.7202 69.1147 85.7377L64.2118 86.7954C64.0486 86.8306 63.9059 86.929 63.815 87.069C63.724 87.209 63.6921 87.3793 63.7263 87.5427L66.5808 101.144C66.6099 101.286 66.6873 101.415 66.7999 101.507C66.9126 101.599 67.0535 101.649 67.1991 101.65C67.2437 101.649 67.2882 101.645 67.3318 101.636L72.2373 100.58C72.4006 100.545 72.5434 100.446 72.6344 100.306C72.7254 100.166 72.7572 99.9955 72.7229 99.832L72.47 98.6149L74.146 98.2539C74.6345 98.1495 75.1373 98.1302 75.6324 98.197L83.515 99.0613C85.1516 99.2777 86.8108 98.8883 88.1802 97.9663L100.808 89.4944C101.221 89.2149 101.508 88.7849 101.607 88.2964C101.707 87.8079 101.612 87.2998 101.341 86.8808ZM67.6872 100.263L65.095 87.8993L68.7619 87.109L71.3541 99.4729L67.6872 100.263ZM100.104 88.4462L87.4765 96.918C86.3569 97.6691 85.0009 97.984 83.6648 97.8032L75.7822 96.9389C75.1479 96.8534 74.5035 96.8791 73.8779 97.0148L72.2076 97.3739L70.541 89.4445L70.9728 89.1435C72.004 88.418 73.2162 87.9928 74.4746 87.9153C75.733 87.8379 76.9883 88.1111 78.1006 88.7048L81.5778 90.5509C82.0222 90.7871 82.5172 90.9122 83.0204 90.9156C83.5236 90.919 84.0202 90.8006 84.4678 90.5705L89.5711 87.9524C90.0812 87.6917 90.672 87.6367 91.2215 87.7988C91.771 87.9609 92.2373 88.3278 92.5242 88.8236C92.6085 88.9688 92.6322 89.1413 92.5903 89.3038C92.5484 89.4664 92.4443 89.6059 92.3004 89.6923L85.265 93.865C84.035 94.5986 82.5697 94.8307 81.1732 94.513L74.8282 92.9957L74.5348 94.226L80.8856 95.7434C82.5997 96.1361 84.3993 95.8528 85.9099 94.9524L92.9453 90.7797C93.2335 90.6068 93.4706 90.3603 93.6322 90.0656C93.7938 89.7708 93.8742 89.4385 93.8652 89.1024L98.043 86.9649C98.4213 86.7728 98.857 86.7265 99.2672 86.8348C99.6775 86.9431 100.034 87.1984 100.268 87.5522L100.275 87.563C100.366 87.7037 100.399 87.8743 100.367 88.0389C100.335 88.2036 100.241 88.3495 100.104 88.4462Z"
                  class="svg-fill-1" />
                <circle cx="125.384" cy="38.7993" r="3.17574" class="svg-dot" />
                <circle cx="47.7841" cy="132.735" r="3.17574" class="svg-dot" />
                <path
                  d="M83.3561 66.9131L83.3582 66.9131C84.2737 66.9132 85.1718 67.198 85.9391 67.7361C86.7068 68.2746 87.3105 69.0437 87.6683 69.9504C88.0261 70.8572 88.1202 71.857 87.9372 72.8219C87.7542 73.7866 87.3036 74.6681 86.6474 75.3565L86.6451 75.359L79.3867 83.0437L72.1189 75.418C70.2819 73.4895 70.2821 70.3362 72.1188 68.4088L72.1189 68.4087C72.9926 67.4915 74.1684 66.9808 75.388 66.9752C76.6075 66.9696 77.7872 67.4694 78.6683 68.3782C78.8457 68.5613 79.0927 68.6704 79.3575 68.6693C79.6223 68.6681 79.8682 68.5569 80.044 68.3725L80.0685 68.3468L80.07 68.3452C80.5039 67.8872 81.0181 67.5261 81.5818 67.2811C82.1454 67.0361 82.7484 66.9113 83.3561 66.9131Z"
                  class="svg-stroke-1" stroke-width="1.5" />
              </svg>

            </div>
            <div class="item__title">Pay it forward</div>
            <p class="item__desc">The folks at DS are no stranger to CSR events and often find time to participate in
              events by Red Cross, volunteering has helped our staff appreciate and share
              our blessings</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item__inner">
          <div class="item__bg"></div>
          <div class="item__caption">
            <div class="item__icon">
              <svg width="165" height="165" viewBox="0 0 165 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle opacity="0.2" cx="82.5" cy="82.5" r="82" class="svg-stroke-1" />
                <path
                  d="M82.4997 143.762C48.7194 143.762 21.2373 116.28 21.2373 82.4999C21.2373 48.7196 48.7194 21.2375 82.4997 21.2375C116.28 21.2375 143.762 48.7196 143.762 82.4999C143.762 116.28 116.28 143.762 82.4997 143.762ZM82.4997 21.5981C48.9177 21.5981 21.5978 48.9179 21.5978 82.4999C21.5978 116.082 48.9177 143.402 82.4997 143.402C116.082 143.402 143.402 116.082 143.402 82.4999C143.402 48.9179 116.082 21.5981 82.4997 21.5981Z"
                  class="svg-fill-1" />
                <circle cx="81.6834" cy="83.3169" r="40.8416" class="svg-circle" />
                <circle cx="47.7851" cy="132.735" r="3.17574" class="svg-dot" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M82.3886 102.738C93.1144 102.738 101.809 94.0426 101.809 83.3168C101.809 72.591 93.1144 63.896 82.3886 63.896C71.6628 63.896 62.9678 72.591 62.9678 83.3168C62.9678 94.0426 71.6628 102.738 82.3886 102.738ZM82.3886 103.738C93.6667 103.738 102.809 94.5949 102.809 83.3168C102.809 72.0387 93.6667 62.896 82.3886 62.896C71.1105 62.896 61.9678 72.0387 61.9678 83.3168C61.9678 94.5949 71.1105 103.738 82.3886 103.738Z"
                  class="svg-fill-1" />
                <circle cx="82.3885" cy="80.4002" r="8.25177" class="svg-stroke-1" />
                <path
                  d="M69.2598 97.8531C69.2598 97.8531 71.2289 89.1013 82.3874 89.1013C93.5459 89.1013 95.5151 97.8531 95.5151 97.8531"
                  class="svg-stroke-1" />
                <circle cx="68.9575" cy="68.4768" r="1.68506" class="svg-dot-1" stroke-width="0.75" />
                <circle cx="100.081" cy="91.9116" r="1.68506" class="svg-dot-1" stroke-width="0.75" />
                <circle cx="118.849" cy="33.0817" r="3.17574" class="svg-dot" />
              </svg>

            </div>
            <div class="item__title">Employees first</div>
            <p class="item__desc">As a core company value, each managerial leader is tasked with the mandate to care for
              each employee – birthdays, seasons are often celebrated with everyone</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>