<section class="section block-content block-content--light block-content--body block-content--4"
  data-social="social-media--dark" data-nav='navigate--dark' id="section-clients">
  <svg class="block-bg block-bg--top-right" aria-hidden="true" height="475" title="" width="492">
    <use xlink:href="#bg_1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
  </svg>

  <div class="d-flex w-100 h-100 justify-content-center flex-column block-content__container">
    <div class="pd-mb">
      <div class="main-label label-animate">CLIENTS &amp; PARTNERS</div>
      <div class="main-title">
        <div class="text-animate d-inline-block">
          Our clients and partners
        </div>
        <br />
        <div class="text-animate d-inline-block">
          is <div class="text-quote d-inline-flex align-items-center text-uppercase">
            <svg class="text-quote__icon text-quote__icon--left" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <span>the key</span>
            <svg class="text-quote__icon text-quote__icon--right" aria-hidden="true" height="26" title="" width="19">
              <use xlink:href="#line_quote" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </div>&nbsp;to our success
        </div>
      </div>
    </div>

    <div class="clients">
      <div class="clients__title">OUR CLIENTS</div>
      <div class="clients__logo d-flex flex-wrap align-items-center justify-content-between">
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/great-eastern.png" alt="great-eastern">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/changi-airport-group.png"
            alt="changi-airport-group">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/workforce-singapore.png"
            alt="workforce-singapore">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/skillsfuture.png"
            alt="skillsfuture">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/starhub.png" alt="starhub">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/singtel.png" alt="singtel">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/housing-development-board.png" alt="housing-development-board">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/bank-of-singapore.png" alt="bank-of-singapore">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/johnson-johnson.png" alt="johnson-johnson">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/maritime-and-port-authority-of-singapore.png" alt="maritime-and-port-authority-of-singapore">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/metlife.png" alt="metlife">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/sompo-insurance.png" alt="sompo-insurance">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/ministry-of-education.png" alt="ministry-of-education">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/uob.png" alt="uob">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/prudential.png" alt="prudential">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/singapore-accountancy-commission.png" alt="singapore-accountancy-commission">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/singapore-tourism-board.png" alt="singapore-tourism-board">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/monetary-authority-of-singapore.png" alt="monetary-authority-of-singapore">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/far-east-organization.png" alt="far-east-organization">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/millennium-copthorne-hotels.png" alt="millennium-copthorne-hotels">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/aia-singapore.png" alt="aia-singapore">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/sompo-insurance.png" alt="sompo-insurance">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/aviva.png" alt="aviva">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png"
            data-src="/public/images/institute-for-adult-learning.png" alt="institute-for-adult-learning">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png"
            data-src="/public/images/singapore-university-of-social-sciences.png" alt="singapore-university-of-social-sciences">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/nanyang-polytechnic.png" alt="nanyang-polytechnic">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/temasek-polytechnic.png" alt="temasek-polytechnic">
        </div>


      </div>
    </div>

    <div class="clients">
      <div class="clients__title">OUR Technology Partners</div>
      <div class="clients__logo d-flex flex-wrap align-items-center justify-content-between">
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/adobe.png" alt="adobe">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/aws.png" alt="aws">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/microsoft.png" alt="microsoft">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/jahia.png" alt="jahia">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/sitecore.png" alt="sitecore">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/outsystems.png" alt="outsystems">
        </div>
        <div class="item">
          <img class="lazyload" src="/public/images/loading.png" data-src="/public/images/logo_10.png" alt="ibm">
        </div>
      </div>
    </div>
  </div>
</section>