<div class="modal fade modal--leadership" id="leadershipModal" tabindex="-1" role="dialog"
  aria-labelledby="leadershipModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <svg aria-hidden="true" height="36" title="" width="36">
          <use xlink:href="#icon_close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </button>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>