.block-content {
  &--8 {
    background-color: $white;
    padding-right: percentage(120/1440);

    &::before {
      content: '';
      width: percentage(865/1440);
      height: percentage(1);
      top: 0;
      left: 0;
      position: absolute;
      background-color: #F5F6F9;
      z-index: 1;
    }

    .main-label {
      margin-bottom: em(17px, 11px);
    }

    .main-title {
      margin-bottom: em(26px, 34px);
    }

    .block-caption {
      order: -1;
      width: percentage(370/1020);
    }

    .block-image {
      width: percentage(650/1020);
      position: relative;
    }

    .block-inner {
      position: relative;
      z-index: 2;
    }

    .img-shadow {
      display: inline-block;
      position: relative;

      .img {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: '';
        width: percentage(578/650);
        height: percentage(414/487);
        position: absolute;
        top: 0;
        right: 0;
        background-color: #C6212F;
      }
    }

    .socials {
      .item {
        display: flex;
        align-items: center;
        margin-top: em(16px);

        &::first-child {
          margin-top: 0;
        }
      }

      .icon {
        color: #FE0202;
        display: inline-flex;
        width: em(25px);
        height: em(25px);
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid #FE0202;
      }

      .label {
        font-size: em(14px);
        line-height: em(17px, 14px);
        color: $text_color;
        padding-left: em(12px, 14px);
        flex: 1;

        a {
          color: $text_color;
        }
      }
    }

    @include max-xl() {
      padding-right: percentage(108/1440);

      .block-caption {
        width: percentage(470/1020);
      }

      .block-image {
        width: percentage(550/1020);
        position: relative;
      }
    }

    @include max-lg() {
      padding-right: 0;
      padding-top: em(64px);
      padding-bottom: em(64px);
      background-color: $white;

      &::before {
        display: none;
      }

      .main-label {
        margin-bottom: em(13px, 10px);
      }

      .main-title {
        margin-bottom: em(36px, 27px);
      }

      .block-image,
      .block-caption {
        width: percentage(1);
      }

      .block-caption {
        order: unset;
      }

      .img-shadow {
        width: percentage(1);

        .img {
          width: percentage(1);
        }
      }

      .socials {
        .item {
          margin-top: em(10px);
        }
      }
    }
  }
}